doctype html
html
    head
        style.
            .content {
                height:400px;
                width:550px;
                margin:50px auto;
                margin-left:auto;
                border:solid 1px;
                background: rgb(246, 246, 253)
            }
        block head

    body
        div.content
            block content
        block foot

    block script
